* {
  box-sizing: border-box;
}

img {
  height: 100%;
}

body {
  font-family: "Fredoka", sans-serif;
}

h1 {
  color: #e53170;
}

.member-card {
  height: 100px;
  background-color: black;
}

.infos {
  font-size: 0.9rem;
}

a {
  color: #6dcae7;
}
